<div id="mycouponId" ng-controller="mycouponCtrl as myCoupon" style="width:100%; height:100%">
  <nav>
    <div style="float:left" ng-click="myCoupon.moveMain()">
      <span class="glyphicon glyphicon-menu-left"></span>
    </div>
    <div style="text-align:center;">
      <span class="glyphicon glyphicon-book" style="color:#1A9DFA"></span>
      <span>쿠폰북</span>
    </div>
  </nav>
  <ul>
    <li style="border-bottom: 1px solid #EDEDED;" ng-repeat="data in myCoupon.data">
      <div style="text-align:center;">
        <img src="{{data}}" alt="" style="background-size:cover; width: 250px; height:250px;">
      </div>
      <div style="text-align:center;">
        <a id="kakao-link-btn" href="javascript:;">
         <img src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"  style="width: 40px;">
       </a>
       <script type="text/javascript">
         Kakao.init('289320d14cc1a2285261e420d371c6e7');
         Kakao.Link.createTalkLinkButton({
           container: '#kakao-link-btn',
           label: '카카오링크 샘플에 오신 것을 환영합니다.',
           image: {
             src: 'http://dn.api1.kage.kakao.co.kr/14/dn/btqaWmFftyx/tBbQPH764Maw2R6IBhXd6K/o.jpg',
             width: '300',
             height: '200'
           },
           webButton: {
             text: '카카오 디벨로퍼스',
             url: 'http://ec2-52-78-41-172.ap-northeast-2.compute.amazonaws.com/'
           }
         });
       </script>
      </div>
    </li>
  </ul>
</div>
