<div ng-controller="mycouponCtrl as myCoupon" style="width:100%; height:100%">
  <nav>
    <div style="float:left" ng-click="myCoupon.moveMain()">
      <span class="glyphicon glyphicon-menu-left"></span>
    </div>
    <div style="text-align:center;">
      <span class="glyphicon glyphicon-book" style="color:#1A9DFA"></span>
      <span>쿠폰북</span>
    </div>
  </nav>
  <ul>
    <li style="border-bottom: 1px solid #EDEDED;" ng-repeat="data in myCoupon.data">
      <div style="text-align:center;">
        <img src="{{data}}" alt="" style="background-size:cover; width: 250px; height:250px;">
      </div>
      <div style="text-align:center;">
        <a id="kakao-link-btn" href="javascript:;">
         <img src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"  style="width: 40px;">
       </a>
      </div>
    </li>
  </ul>
</div>
