<div style="width:100%; height:100%;">
  <div class="loginContainer hc vc">
    <form style="text-align:center; padding-top:15%;">
      <img src="public/img/appIcon.png" alt="" style="margin-bottom:20px;">
      <input type="text" class="form-control" placeholder="email & id" ng-model="login.id">
      <br>
      <input type="password" class="form-control" placeholder="password" ng-model="login.pw">
      <br>
      <input type="button" class="btn btn-primary form-control" value="로그인" ng-click="login.beLogin()">
      <br>
      <input type="button" class="btn btn-warning form-control" value="돌아가기" ng-click="login.moveMain()">
    </form>

  </div>
</div>
